* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  user-select: none;
}

body {
 height: 100vh;
 width: 100vw;
 background-color: black;
 position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

header {
  text-align: center;
  height:10vh
}


.logo {
  width: 230px;
}

.gif {
  height:200px;
  width:550px;
  position: absolute;
  bottom:-13%;
  right:0%

}

h3, h5{
  color:white;
  font-family: 'Press Start 2P'
}

h5 {
  margin: 50px 0px 20px 0px
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 63vh;

}



.first .second{
  display: flex;
  flex-direction: column;
  position:relative;
}

  .instruction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 100%;
    margin-top: -100px;
  }

  .points {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 14vw;
    margin: 10px
  }
  
  #point1 {
    width: 35px;
    margin-left: 13px;
  }
  #point2 {
    width: 30px;
    margin-left: 16px;
  }

  #point3 {
    width: 25px;
    margin-left: 19px;
  }

  p {
    color:yellow;
    font-family: 'Press Start 2P';
    font-size: 9px;
    margin-left: 25px;
    
  }
  .controls {
    width: 95px;
    height: 50px;
    margin-top: 20px
  }

  #seconds {
    margin-left: 69px;
  }

  button {
    margin: 25px 0px 10px 42%;
    padding: 7px 12px;
    border: none;
    background-color: black;
    color: white;
    font-size: 13.5px;
    outline: none;
    font-family: 'Press Start 2P'
  }
  
  
  button:hover {
    transform: scale(1.2);
    cursor: pointer;
    color:yellow
  }
  
  a {
    text-decoration: none;
  }

  video:hover {
    transform: scale(1.13);
  }

  h6 {
    color:yellow;
    font-family: 'Press Start 2P';
    font-size: xx-small;
    margin: 7px 0 10px 0;
  }

  #control-section {
    text-align: center;
  }

