* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
 height: 100vh;
 width: 100vw;
 background-color: black;
 position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}




.logo {
  width: 230px;
}

.gif {
  height:200px;
  width:550px;
  position: absolute;
  bottom:-13%;
  right:0%

}

h3, h5{
  color:white;
  font-family: 'Press Start 2P'
}



.container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 65vh;
}



.first .second{
  display: flex;
  flex-direction: column;
  position:relative;

  }

  .instruction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%
  }
  
  .controls {
    width: 150px;
    height: 80px
  }

  button {
    margin: 10px 0px ;
    padding: 7px 12px;
    border: none;
    background-color: black;
    color: white;
    font-size: 13.5px;
    outline: none;
    display: block;
    font-family: 'Press Start 2P'
  }
  
  
  button:hover {
    transform: scale(1.2);
    cursor: pointer;
    color:yellow
  }
  
  a {
    text-decoration: none;
  }


