* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
 height: 100vh;
 width: 100vw;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh
}


.logo {
  width: 450px
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 65vh;
}

button {
  margin: 0 100px ;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 13.5px;
  font-weight: bolder;
  border: 2px white solid;
  outline: none;
  display: block;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;

}

.first .second .middle{
  display: flex;
  flex-direction: column;
  width: 33vw;
  height:76vh;
  position:relative;

  }



.maps {
  height: 300px;
  width: 280px;
  margin-bottom: 50px;
}

.maps:hover {
  transform: scale(1.2);
  cursor: pointer;

}

.middle {
  margin-top: 51px;
}



#ghost {

  height: 135px;
  width: 260px;

}

#info {
  height: 23px;
  width: 87px;
  display: block;
  margin: 30px auto
}