* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: 'Press Start 2P'
}

.container {
  display: none;
  justify-content: space-between;
  align-content: center;
  width:100vw;
  height:100vh




}

aside {
  height: 100vh;
  width: 40vw;
  justify-self: flex-start;
  position: relative;
}

#score {
  width: 35px;
  height: 15px;
  top:12%;
  left: 35%;
  position: absolute;
}

#ghost {
  position: absolute;
  height: 175px;
  width: 300px;
  top: 35%;
  position: absolute;
}

#info {
  height: 25px;
  width: 90px;
  top:67%;
  left:53%;
  position: absolute;
}

.score {
  color: white;
  position: absolute;
  top:18%;
  left: 35%;
  font-size: 17px;
  opacity: 0.8;
  font-family: 'Press Start 2P'
}

.lives-header, #score{
  width: 35px;
  height: 15px;
  top:12%;
  left: 70%;
  position: absolute;
  color: white;
  font-size: 12.5px;
  letter-spacing: 1px;
  opacity: 0.85;
  font-family: 'Press Start 2P'

}

#score {
  left: 35%;

}


.lives-contain {
  position: relative;
  width:150px;
  height: 50px;
  top:17%;
  left: 54.5%;
}

.lives {
  width:25px;
  height:25px;
  position: absolute;
}

#life1 {
  top:3%;
  left: 50%;
}

#life3 {
  top:3%;
  left: 98%;
}




main {
  display: none;
  justify-content: center;
  align-items: center;
  height: 650px;
  flex-wrap: wrap;
  width: 600px; 
  position: absolute;
  right:10%

}



img {
  width:517px;
  height:635px;
  position: absolute;
  z-index: 0;
  top: 3%;
  right: 8.6%

}

.cell {
  width:17.8px;
  height:19px;
  z-index: 1;
  color: white;
  font-size: 9.8px;
  /* border: 1px brown solid; */
}

.food {
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 11.52.04.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:17.8px;
  height:19px;
  z-index: 0;
}

.pacman{

  width:17.8px;
  height:19px;
  background-color: yellow;
  z-index: 1;
  border-radius: 50%;
  position: relative;
  transform:scale(1.4)
}


.ghost-1{
  width:17.8px;
  height:19px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.19.46.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-2{
  width:17.8px;
  height:19px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.19.58.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-3{
  width:17.8px;
  height:19px;
  transform: scale(1.45);
  background-image: url(../images/2469743-orange.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-4{
  width:17.8px;
  height:19px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.20.44.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  /* animation:  blinking 0.13s alternate 6; */

}

@keyframes blinking {
  from{opacity: 1;}
  to{opacity: 0;}
}

footer {
  height: 20vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  transform: translate(-200px, -10px);

}

.finalScore {
  display: inline-block;
  font-family: 'Press Start 2P';
  color: white;
}

.final {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Press Start 2P';
  font-size: 11px;
  color: white;
  margin-left: 5px;
}

input {
  transform: translate(-3px, -2px);
  margin-right: 23px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  width: 130px;
  border-radius: 20px;
  padding: 7px 10px;
  font-family: 'Press Start 2P';
  font-size: 8.2px;
  outline: none;
  position: absolute;
  top: 84%;
  right: 43%
}

.score-board {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 10px;
  height: 70%;
  width: 65%;
  transform: translate(63%, 35%);
  opacity: 0.85;
}

h2 {
  margin-bottom:  23px;
  transform: translate(-30px, 0px);
}


li {
  margin: 10px 0;
  text-transform: uppercase;
  color: yellow;
  opacity: 0.85;
}

#homepage {
  color:red;
  font-family: 'Press Start 2P';
  font-size: 10px;
  position: absolute;
  top:3%;
  left:5%;
  width: 30px;
  height: 20px;
  text-decoration: none;
}

#homepage:hover {
  cursor: pointer;
  text-decoration: underline;
}


#mapNo {
  margin-left: 11px;
  width: 30px
}

label {
  margin: 5px 0px
}

.gameEnd {
  margin-bottom: 20px;
}