* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: 'Press Start 2P'
}

.container {
  display: none;
  justify-content: space-between;
  width:100vw;
  height:100vh

}

aside {
  height: 90vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color:white;
  font-family: 'Press Start 2P';
  font-size: 13px;
  opacity: 0.85;

}


#homepage{
  color:red;
  font-family: 'Press Start 2P';
  font-size: 10px;
  position: absolute;
  top:3%;
  left:2%;
  width: 30px;
  height: 20px;
  text-decoration: none;
}

#restart {
  color:red;
  font-family: 'Press Start 2P';
  font-size: 10px;
  position: absolute;
  bottom: 1%;
  right:7%;
  width: 20px;
  height: 25px;
  text-decoration: none;
}

.scoreCount {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
  justify-content: space-around;
}

.lives-contain {
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
  justify-content: space-around;
}

.lives {
  width:22px;
  height: 22px;
  position: absolute;
  top: 55%;
  right: 0%;
}

#life1 {
  position: absolute;
  right: 12%;
}
#life2 {
  position: absolute;
  right: 25%;
}

.gameCount {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 60px
}


main {
  display: none;
  justify-content: center;
  align-items: center;
  height: 650px;
  flex-wrap: wrap;
  width: 600px; 
  position: absolute;
  left: 21.5%;
  top:1%
}



img {
  width:526px;
  height:617px;
  position: absolute;
  z-index: 0;
  top: 2.7%;
  right: 9.5%

}

.cell {
  width:18.5px;
  height:19.7px;
  z-index: 1;
  color: white;
  font-size: 9.8px;
  
  /* border: 1px brown solid; */
}

.food {
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 11.52.04.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:18.5px;
  height:19.7px;
  z-index: 0;
}

.pacman{
  width:18.5px;
  height:19.7px;
  background-image: url(../images/noisy-texture-300x300-o7.000000000000001-d10-c-ffd500-t0.png);
  z-index: 1;
  border-radius: 50%;
  transform:scale(1.45)
  /* animation: move-right linear forwards 0.4s; */
}


.pacman-right {
  animation: move-right 0.115s linear
}

@keyframes move-right {
  0% {transform: translate(-100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-left {
  animation: move-left 0.115s linear
}

@keyframes move-left {
  0% {transform: translate(100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-down {
  animation: move-down 0.115s linear
}

@keyframes move-down {
  0% {transform: translate(0%, -100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-up {
  animation: move-up 0.115s linear
}

@keyframes move-up {
  0% {transform: translate(0%, 100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

@keyframes pulsing {
  from{transform: scale(1);}
  to{transform: scale(1.5);}
}


.superFood{
  width:18.5px;
  height:19.7px;
  background-color: teal;
  border-radius: 50%;
  transform: scale(0.8);
  z-index: 1;
  
  /* animation: move-right linear forwards 0.4s; */
}


.ghost-1{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.19.46.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-2{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.19.58.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-3{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../images/2469743-orange.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-4{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../images/Screenshot\ 2020-02-20\ at\ 13.20.44.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  /* animation:  blinking 0.13s alternate 6; */

}
.scared-ghost-1{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-2{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-3{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-4{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}


.ghost-right {
  animation: ghost-right 0.12s linear
}

@keyframes ghost-right {
  0% {transform: translate(-100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-left {
  animation: ghost-left 0.12s linear
}

@keyframes ghost-left {
  0% {transform: translate(100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-down {
  animation: ghost-down 0.12s linear
}

@keyframes ghost-down {
  0% {transform: translate(0%, -100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-up {
  animation: ghost-up 0.12s linear
}

@keyframes ghost-up {
  0% {transform: translate(0%, 100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}






@keyframes blinking {
  from{opacity: 1;}
  to{opacity: 0;}
}

footer {
  height: 20vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  transform: translate(-190px, -10px);

}

.finalScore {
  display: inline-block;
  font-family: 'Press Start 2P';
  color: white;
}

.final {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Press Start 2P';
  font-size: 11px;
  color: white;
  margin-left: 5px;
}

input {
  transform: translate(-3px, -2px);
  margin-right: 23px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  width: 130px;
  border-radius: 20px;
  padding: 7px 10px;
  font-family: 'Press Start 2P';
  font-size: 8.2px;
  outline: none;
  position: absolute;
  top: 84%;
  right: 43%
}

.score-board {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 10px;
  opacity: 0.85;
  position: absolute;
  right: 6%;
  top: 10%
}

h2 {
  margin-bottom:  23px;
  transform: translate(-30px, 0px);
}


li {
  margin: 10px 0;
  text-transform: uppercase;
  color: yellow;
  opacity: 0.85;
}


#mapNo {
  margin-left: 11px;
  width: 30px
}

label {
  margin: 5px 0px
}

.gameEnd {
  margin-bottom: 20px;
}

