* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P'
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;
}

.container {
  display: none;
  justify-content: space-between;
  width:100vw;
  height:100vh;
  align-items: center;
}

/* PAGE SETUP */
.board-container {
  width: 55%;
  height: 100%;
}

/* GAME GRID */
main {
  display: none;
  justify-content: center;
  align-items: center;
  height: 650px;
  flex-wrap: wrap;
  width: 600px; 
  height: 80%;
  position: absolute;
  left: 7%;
  top: 5%
}

#map {
  width:526px;
  height:617px;
  position: absolute;
  z-index: 0;
  top: 2.7%;
  right: 9.5%;
}

#score-header {
  color: white;
  position: absolute;
  left: 12%;
  top: 3.3%;
  width: 50%;
  font-size: 15px;
}

span {
  margin-left: 2%;
}

section {
  position: absolute;
  bottom: 0.7%;
  left: 9.5%;
  width: 500px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.lives-contain {
  width: 25%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lives {
  width: 25px;
  height: 25px;
}

#timer-header {
  font-size: 15px;
  color: white;
  width: 26%;
}

aside {
  height: 93%;
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

nav {
  color: white;
  height: 5%;
  width: 50%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin-right: 4%;
}

a {
  text-decoration: none;
  color: red;
  font-size: 10px;
}

a:hover {
  color: yellow;
  cursor: pointer;
}


.score-board {
  color: white;
  font-size: 10px;
  height: 95%;
  width: 60%;
  align-self: flex-start;
  padding: 2%;
  overflow-y: scroll;
}

h2 {
  margin-bottom: 23px;
}


li {
  margin: 15px 0;
  text-transform: uppercase;
  color: yellow;
  opacity: 0.85;
}



/* GAME SETUP */
.cell {
  width:18.5px;
  height:19.7px;
  z-index: 1;
  color: white;
  font-size: 9.8px;
  /* border: 1px brown solid; */
}

.food {
  background-image: url(../../media/images/Screenshot\ 2020-02-20\ at\ 11.52.04.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:18.5px;
  height:19.7px;
  z-index: 0;
}

.pacman{
  width:18.5px;
  height:19.7px;
  background-image: url(../../media/images/noisy-texture-300x300-o7.000000000000001-d10-c-ffd500-t0.png);
  z-index: 1;
  border-radius: 50%;
  transform:scale(1.45)
  /* animation: move-right linear forwards 0.4s; */
}


.pacman-right {
  animation: move-right 0.115s linear
}

@keyframes move-right {
  0% {transform: translate(-100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-left {
  animation: move-left 0.115s linear
}

@keyframes move-left {
  0% {transform: translate(100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-down {
  animation: move-down 0.115s linear
}

@keyframes move-down {
  0% {transform: translate(0%, -100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.pacman-up {
  animation: move-up 0.115s linear
}

@keyframes move-up {
  0% {transform: translate(0%, 100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

@keyframes pulsing {
  from{transform: scale(1);}
  to{transform: scale(1.5);}
}


.superFood{
  width:18.5px;
  height:19.7px;
  background-color: teal;
  border-radius: 50%;
  transform: scale(0.8);
  z-index: 1;
  
  /* animation: move-right linear forwards 0.4s; */
}


.ghost-1{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../../media/images/Screenshot\ 2020-02-20\ at\ 13.19.46.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-2{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../../media/images/Screenshot\ 2020-02-20\ at\ 13.19.58.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-3{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../../media/images/2469743-orange.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.ghost-4{
  width:18.5px;
  height:19.7px;
  transform: scale(1.45);
  background-image: url(../../media/images/Screenshot\ 2020-02-20\ at\ 13.20.44.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  /* animation:  blinking 0.13s alternate 6; */

}
.scared-ghost-1{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../../media/images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-2{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../../media/images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-3{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../../media/images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.scared-ghost-4{
  width:18.5px;
  height:19.7px;
  transform: scale(1.46);
  background-image: url(../../media/images/unnamed-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}


.ghost-right {
  animation: ghost-right 0.12s linear
}

@keyframes ghost-right {
  0% {transform: translate(-100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-left {
  animation: ghost-left 0.12s linear
}

@keyframes ghost-left {
  0% {transform: translate(100%, 0%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-down {
  animation: ghost-down 0.12s linear
}

@keyframes ghost-down {
  0% {transform: translate(0%, -100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

.ghost-up {
  animation: ghost-up 0.12s linear
}

@keyframes ghost-up {
  0% {transform: translate(0%, 100%) scale(1.45)}
  100% {transform: translate(0%, 0%)scale(1.45)}
}

@keyframes blinking {
  from{opacity: 1;}
  to{opacity: 0;}
}


/* FOOTER MODAL SETUP */

footer {
  height: 20%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  font-size: 40px;
  color:white;
  margin-bottom: 28px;
}



.final {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 11px;
  width: 100%;
  margin-bottom: 30px;
}

.finalScore {
  display: inline-block;
  font-family: 'Press Start 2P';
  color: white;
}

label {
  display: flex;
  align-items: center;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  width: 45%;
  text-transform: uppercase;
}

button {
  width: 130px;
  border-radius: 20px;
  padding: 8px 9px 7px 10px;
  font-size: 8.2px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  nav, .score-board {
    align-self: flex-end;
    width: 80%;
  }
  .score-board {
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  aside {
    display: none
  }
}

